.gitique-enabled .gitique-hidden {
  /* GitHub override the display property with more specific selectors than this one. */
  display: none !important;
}

.gitique-header-wrapper {
  margin-right: 10px;
}

.gitique-header-wrapper input[type=text] {
  min-height: 26px;
  padding: 2px 4px;
}

.gitique-header-wrapper input[type=text].error {
  border-color: red;
}

.gitique-icon.gitique-initial {
  color: #bbb;
}

.gitique-icon.gitique-reviewed {
  color: #999;
}

.gitique-icon.gitique-basis {
  color: #000;
}

.gitique-icon.gitique-new {
  color: #6cc644;
}

.gitique-icon.gitique-clickable {
  cursor: pointer;
}

.gitique-enabled .gitique-context .blob-num-addition,
.gitique-enabled .gitique-context .blob-code-addition,
.gitique-enabled .gitique-context .blob-code-addition .x {
  background-color: #fff;
}

.gitique-enabled .gitique-context .blob-num-addition {
  border-color: #eee;
}

.gitique-enabled .gitique-context .blob-code-addition::first-letter {
  color: #fff;
}
